@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="myApp">
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     
    <script src="~/Scripts/angular.js"></script>
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    <script src="~/Scripts/angular-ui-router.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>



    <script src="~/wwwroot/scripts/services/app.js"></script>
    <script src="~/wwwroot/scripts/controllers/loginController.js"></script>
    <link href="~/wwwroot/css/login.css" rel="stylesheet" />
    <script src="~/wwwroot/scripts/controllers/DashboardController.js"></script>
    <script src="~/wwwroot/scripts/controllers/page1Controller.js"></script>
    <script src="~/wwwroot/scripts/controllers/page2Controller.js"></script>
    @*// item*@
    <script src="~/wwwroot/scripts/controllers/page1_item1Controller.js"></script>

    


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/wwwroot/css/style.css" rel="stylesheet" />

</head>
<body> 
   
    <div> 
        <div ui-view></div> 
    </div>
   


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</body>
</html>
